.zm-sidebar {
    position: relative;
    z-index: 100;
    width: 240px;
    background-color: hsla(0,0%,100%,0.05);
    height: calc(100vh - 90px);
    padding-top: 70px;
    padding-bottom: 54px;
}

.zm-sidebar-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}