.pad-t-15 {
    padding-top: 15px!important;
}

.zm-navbar-my-music {
    font-size: 12px;
    padding-top: 20px;
}

.zm-navbar-my-music .main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
}

.zm-navbar-my-music .title {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 28px 8px;
    white-space: nowrap;
}

.zm-navbar-my-music .edit-btn {
    display: none;
}

.zm-navbar-my-music:hover .edit-btn {
    display: block;
}

.zm-tooltip-btn img {
    width: 16px;
    height: 16px;
    padding: 5px;
    border-radius: 50%;
    line-height: 66%;
    display: inline-block;
}

.zm-navbar-my-music .main-title .zm-btn:hover {
    background-color: hsla(0,0%,100%,0.1);
}