.zm-section.zm-layout.has-player{
    display: flex;
    width: 100%;
    min-width: 768px;
    height: 100vh;
    background-color: #170f23;
}

.zm-sidebar .zm-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}