*{  box-sizing: border-box; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body ::-webkit-scrollbar {
  width: 6px;
}

button, optgroup, select {
  user-select: none;
}

a {
  cursor: pointer;
  color: inherit;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

a, a.active, a:hover {
  text-decoration: none;
}

button, input, optgroup, select, textarea {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  word-break: normal;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

ol, p, ul {
  list-style: none;
}

.input {
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
  align-items: center;
  border: 1px solid hsla(0,0%,100%,0.1);
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
  vertical-align: top;
}

:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Edge */
  color: #dadada;
}

.zm-header .level-left .zm-btn .ic-back, .zm-header .level-left .zm-btn .ic-forward {
  font-size: 18px;
  margin-right: 20px;
}

.icon {
  line-height: 66%;
  display: inline-block;
}

:focus {
  outline: none;
}